<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HostCloud</title>
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li>Contato</li>
        <li><a href="plans">Plans</a></li>
        <li><a href="dashboard">Dashboard</a></li>
    </ul>